<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ReservaVuelos?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">2dawa</property>
    <property name="hibernate.connection.password">2dawA2!06</property>
    <mapping resource="es/reservasvuelo/model/Ciudad.hbm.xml"/>
    <mapping resource="es/reservasvuelo/model/Aerolinea.hbm.xml"/>
    <mapping resource="es/reservasvuelo/model/Reservas.hbm.xml"/>
    <mapping resource="es/reservasvuelo/model/VueloGenerico.hbm.xml"/>
    <mapping resource="es/reservasvuelo/model/Aeropuerto.hbm.xml"/>
    <mapping resource="es/reservasvuelo/model/Vuelo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
